@import "includes/base";
@import "includes/variables";

$headerHeight: 60px;

p, h2, h3, h4, a, span {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  padding: $headerHeight 0;
  margin: 0 10%;
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
  }
}

.header {
  background-color: $color-black;
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include desktop {
    position: static;
  }

  &.affix{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
  } 

  .menu {
    padding-top: 18px;
    @include desktop {
      margin: 0 10%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
      @include desktop {
        justify-content: flex-end;
      }

      li {
        position: relative;
        display: inline-block;
        @include desktop {
          margin-right: 32px;
          &:last-child {
            margin-right: 0;
          }
        }

        &.active {
          &::before {
            content: '';
            position: absolute;
            top: calc(100% + 4px);
            left: 50%;
            transform: translateX(-50%);
            height: 10px;
            width: 10px;
            background-color: $color-orange;
            border-radius: 50%;
          }
        }

        a { 
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
          color: $color-orange;
          cursor: pointer;
        }
      }
    }
  }
}

.section-main {
  background-color: $color-orange;
  background-image: url('../img/dust2.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    height: auto;
  }
  &__accordion {
    &__click {
      height: 25px;
      width: 25px;
      background-image: url('../img/acordeon.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &__item {
      height: 0;
      overflow: hidden;
      transition: all 0.5s;

      ul {
        padding: 0;
      }
    }

    &.active {
      .section-main__accordion__click {
        background-image: url('../img/acordeon2.png');
      }

      .section-main__accordion__item {
        height: 100px;
        padding-top: 20px;
      }
    }
  }


  &__left {
    margin: 24px 0;
    text-align: center;
    @include desktop {
      width: 45%;
      align-self: flex-end;
      text-align: left;
    }
  }

  &__right {
    z-index: 2;
    @include desktop {
      width: 55%;
      margin: 0;
    }
  }

  &__image {
    width: 100%;
    max-width: 320px;
    @include desktop {
      position: absolute;
      bottom: 0;
      width: 50%;
      max-width: 520px;
      max-height: 450px;
      z-index: 1;
    }
  }

  &__presentation {
    .maintitle {
      font-size: 40px;
      margin: 0 0 16px 0;
      @include tablet {
        font-size: 80px;
      }
      @include desktop {
        text-align: right;
        margin: 0;
      }
    }

    .subtitle1 {
      text-align: right;
      font-size: 16px;
      display: block;
      margin-bottom: 8px;
      @include tablet {
        font-size: 24px;
      }
    }

    .subtitle2 {
      text-align: right;
      font-size: 16px;
      display: block;
      font-weight: bold;
      @include tablet {
        font-size: 32px;
      }
    }
  }

  &__description {
    @include desktop {
      padding-left: 10%;
    }

    .mainp {
      font-size: 16px;
      line-height: 20px;
      @include tablet {
        font-size: 26px;
        line-height: 36px;
      }
      @include desktop {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
}

.section-portafolio {
  border-top: 1px $color-black solid;
  &__title {
    font-size: 60px;
    margin: 0;
  }

  &__subtitle {
    margin-bottom: 40px;
    @include desktop {
      margin-left: 26px;
      margin-bottom: 120px;
    }
  }

  &__identidad-corp {
    .img-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      
      .col {
        text-align: center;
        margin-bottom: 16px;
      }
      
      img {
        width: 20%;
        max-height: 200px;
        vertical-align: middle;
      }
    }
  }

  &__btl-atl {
    .img-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      img {
        width: 150px;
        margin-bottom: 16px;

        @include desktop {
          width: 20%;
          max-height: 200px;
        }

       
      }
    }
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-orange;
  background-image: url('../img/dust2.png');
  border-top: 1px $color-black solid;
  position: relative;
  padding: 80px 5%;
  justify-content: center;
  @include desktop {
    padding: 100px 5%;
    justify-content: flex-start;
  }
  
  &__form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 16px;
      padding: 5px;
      outline: none;

      &:last-child {
        margin-bottom: 0;
      }

      &:active, &:focus {
        border: 1px $color-black solid;
      }
    }

    textarea {
      resize: none;
      margin-bottom: 16px;
      padding: 5px;

      &:active, &:focus {
        border: 1px $color-black solid;
      }
    }
  }

  &__text {
    font-size: 30px;
    text-align: center;
    width: 100%;
    @include desktop {
      text-align: left;
      width: 40%;
      font-size: 46px;
      padding-right: 5%;
    }
  }

  &__hand {
    display: none;
    @include desktop {
      display: block;
      width: 25%;
      background-color: red;
    }
  }

  &__contact {
    @include desktop {
      width: 30%;
      padding-left: 9%;
    }
  }

  &__triangle {
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 60px;
      @include desktop {
        max-height: 80px;
      }
    }

    &::after {
      content: 'Since 1993 - and still alive !';
      bottom: 10px;
      right: 40px;
      position: absolute;
      color: $color-orange;
      @include desktop {
        font-size: 20px;
        bottom: 22px;
      }
    }
  }
}