section.section-main
	.container
		.content
			.section-main__left
				img.section-main__image(src="img/adrian.png", alt="")
			.section-main__right
				.section-main__presentation
					h2.maintitle Adrián Kamt
					span.subtitle1 un poco metalero, un poco nerd, un poco artista.
					span.subtitle2 DISEÑADOR GRÁFICO
				.section-main__description
					p.mainp Una persona sencilla, con facilidad para el habla y hacer amigos. Aunque pueda sonar extraño, realmente disfruto de trabajar ya que los momentos de creación artística me apasionan y es aún mucho más gratificante cuando tu trabajo tiene un impacto emocional en el cliente.
					.section-main__accordion
						.section-main__accordion__item
							div Instituto peruano de arte y diseño (2011 febrero - 2013) La cochera taller de ilustración (2015) Pre bellas artes pueso 18 / 243 (2017) 

header.header
	nav.menu
		ul
			li.active
				a(href="#") Inicio
			li
				a(href="#") Portafolio
			li
				a(href="#") Contacto

section.section-portafolio
	.container
		.content
			h2.section-portafolio__title Portafolio

			.section-portafolio__identidad-corp
				h3.section-portafolio__subtitle identidad coorporativa
				.img-wrapper
					.col
						img(src="img/nativo.png", alt="Nativo")
						img(src="img/rionegro.png", alt="Rio Negro")
						img(src="img/mp.png", alt="Mp Solutions")
						img(src="img/presea.png", alt="Presea Records")
					.col
						img(src="img/mu.png", alt="Mu")
						img(src="img/espinoza.png", alt="Espinoza Fotografía")
						img(src="img/itp.png", alt="TPT")
						img(src="img/distorsion-oscura.png", alt="Distorsión Oscura")
						img(src="img/jc.png", alt="Julio Crespo")
			
			.section-portafolio__btl-atl
				h3.section-portafolio__subtitle BTL / ATL
				.img-wrapper
					img(src="img/hidratantes.png", alt="Drink up")
					img(src="img/gorras-lawgamers-tw-ow-wow.gif", alt="Gorras lawgamers tw ow wow gif")
					img(src="img/Sorteo.png", alt="Sorteo")
					img(src="img/cabanaverde.png", alt="Cabana Verde")


footer.footer
	.footer__text
	.footer__hand
	.footer__contact
		ul
			li
				a(href="tel:922919972") 922919972
			li
				a(href="mailto:kfadrian@gmail.com") kfadrian@gmail.com



